# 10 minutes to pandas

In [1]:
import numpy as np
import pandas as pd

# Object creation

In [3]:
s = pd.Series([1,3, 4, np.nan, 6,8])
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20120102", periods=6)
dates

DatetimeIndex(['2012-01-02', '2012-01-03', '2012-01-04', '2012-01-05',
               '2012-01-06', '2012-01-07'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2012-01-02  0.807575 -1.460145  1.539674 -0.106494
2012-01-03  0.968717 -0.138496 -0.843480 -1.043967
2012-01-04  0.777026  0.197598 -0.143061 -1.882049
2012-01-05  0.868422 -1.757705 -0.348646  0.040302
2012-01-06  1.008693 -0.857025  0.689434 -0.992043
2012-01-07 -0.140014  1.379918 -0.652858 -0.773432

In [6]:
df2 = pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20210324"),
        "C":pd.Series(1, index=list(range(4)), dtype="float32"),
        "D":np.array([3]*4, dtype="int32"),
        "E":pd.Categorical(["test", "train", "test", "train"]),
        "F":"foo"
    }
)
df2

     A          B    C  D      E    F
0  1.0 2021-03-24  1.0  3   test  foo
1  1.0 2021-03-24  1.0  3  train  foo
2  1.0 2021-03-24  1.0  3   test  foo
3  1.0 2021-03-24  1.0  3  train  foo