In [2]:
import pandas as pd
import numpy as np

# Idioms

In [3]:
df = pd.DataFrame(
    {
        "AAA":[4,5,6,7], "BBB":[10,20,30,40], "CCC":[100,50,-30,-50]
    })
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

## If-then...

In [7]:
df.loc[df.AAA >=5, "BBB"] = -1
df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50